
{% block body %}

  

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-success" href="{{ path('rental_new') }}" ><span>Add</span></a>
                <br><br>
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green">
                            <i class="icon-settings font-green"></i>
                            <span class="caption-subject bold uppercase">Accounts</span>
                        </div>
                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_2">
                            <thead>
                            <tr>
                                <th class="all" width="10%">View</th>
                                <th class="all" width="10%">Financ.</th>
                                <th class="all">Description</th>
                                <th class="all">Opportunity</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for Renral in rentals %}
                                <tr>
                                    <td>
                                        <center>
                                            <a href="#" class="a_show" param="{{ Rental.id }}" param2="{{ app.request.attributes.get('_controller') }}">
                                                <i class="fa fa-search fa-x"></i>
                                            </a>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <a href="{{ path('trackrental_track', { 'id': Rental.id }) }}" class="a_track" param="{{ Rental.id }}" param2="{{ app.request.attributes.get('_controller') }}">
                                                <i class="fa fa-dollar fa-x"></i>
                                            </a>       
                                        </center>
                                    </td>
                                    <td>{{ Rental.description }}</td>
                                    <td>{{ Rental.idTypeRental }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
                            {% include 'typerental/opportunities.html.twig' %}
            <!--div class="col-md-6" id="show">

            </div-->
        </div>
        <!-- END CONTENT BODY -->

    </div>
    <!-- END CONTAINER -->

{% endblock %}
