{% extends 'base.html.twig' %}

{% block body %}
    <h1>FieldsAltinv list</h1>

    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Widget</th>
                <th>Trackable</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fieldsAltinv in fieldsAltinvs %}
            <tr>
                <td><a href="{{ path('fieldsaltinv_show', { 'id': fieldsAltinv.id }) }}">{{ fieldsAltinv.description }}</a></td>
                <td>{{ fieldsAltinv.widget }}</td>
                <td>{% if fieldsAltinv.trackable %}Yes{% else %}No{% endif %}</td>
                <td>{{ fieldsAltinv.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fieldsaltinv_show', { 'id': fieldsAltinv.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fieldsaltinv_edit', { 'id': fieldsAltinv.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fieldsaltinv_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
