{% extends 'base.html.twig' %}

{% block body %}
    <h1>FieldsAltinv</h1>

    <table>
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ fieldsAltinv.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ fieldsAltinv.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fieldsaltinv_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fieldsaltinv_edit', { 'id': fieldsAltinv.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
