{% extends 'base.html.twig' %}

{% block body %}
    <h1>TrackAltinv</h1>

    <table>
        <tbody>
            <tr>
                <th>Value</th>
                <td>{{ trackAltinv.value }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{% if trackAltinv.datetime %}{{ trackAltinv.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ trackAltinv.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trackaltinv_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('trackaltinv_edit', { 'id': trackAltinv.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
