{%extends '::base.html.twig'%}

{% block stylesheets_extra %} 
<style>
#table1 tr:first-child td{
    background-color: #DDD;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}


</style>
{% endblock %}


{% block body %}

    <div class="row">
    <div id="table1" class="table-responsive col-lg-10">
        <form id="calx_form">
            <table class="table table-striped table-bordered table-hover">
             <thead>
                                    <tr>
                                        <td>@</td>
                                        <td class="chead"></td>
                                        <td class="chead">A</td>
                                        <td class="chead">B</td>
                                        <td class="chead">C</td>
                                        <td class="chead">D</td>
                                        <td class="chead">E</td>
                                        <td class="chead">F</td>
                                        <td class="chead">G</td>
                                        <td class="chead">H</td>
                                        <td class="chead">I</td>
                                        <td class="chead">J</td>
                                        <td class="chead">K</td>
                                        <td class="chead">L</td>
                                        <td class="chead">M</td>
                                    </tr>
            </thead>
            
            
        </table>
     </form>       
    </div>

    <div class="col-lg-2">
       <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="fa fa-wrench" style="color:#E26A6A;"></i>
                        <span class="caption-subject bold uppercase"> ToolBox</span>
                    </div>
                </div>
                <div class="portlet-body form">
                   <div>
                       <label for="currency_symbol" class="">Currency Symbol</label>
                    <select id="currency_symbol" class="form-control">
                       <option value="$">$</option>
                       <option value="Bs">Bs</option>
                       <option value="£">£</option>
                   </select>
                   
                   </div>
                    <br>
                   <div>
                       <label for="coord" class="">Cell=</label><label id="coord"></label>
                       <input type="text" id="cell" name="cell" required="required" class="form-control input-md">
                   </div>
                    <br>
                    </div>
                </div>
       
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="fa fa-plus" style="color:#E26A6A;"></i>
                        <span class="caption-subject bold uppercase"> New Financial Field</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    
                    <div>
                       <label for="currency_symbol" class="">Field Sign</label>
                    <select id="credordeb" class="form-control">
                       <option value="C">Creditor (+)</option>
                       <option value="D">Debitor (-)</option>
                   </select>
                   
                   </div>
                    
                    <br>
                    <button type="button" class="btn default"  id="clear">Clear</button>
   
                    <button id="btn_addfield" type="submit" class="btn blue">Add Financial Field</button>
                 
                    {{ form_end(form) }}
                    <br>
                    <div class="form-actions">
                    </div>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
            
            </div>
            
        <
    
        <br><br>

{%endblock%}

{% block javascripts_extra %} 
    
    <script>
        
        var objects='{{ objects}}'; // viene del controlador
         var cifs='{{ cifras}}'; // viene del controlador

        jsonStr = objects.replace(/&quot;/g, '"'); //arreglar comillas dobles
        jsonStr2 = cifs.replace(/&quot;/g, '"'); //arreglar comillas dobles
        var obj = JSON.parse(jsonStr); //convertir a jsonArray
        var cifras = JSON.parse(jsonStr2); //convertir a jsonArray
        console.log(obj);
        console.log(cifras);
        
      var months =['','Jan','Feb','Mar','Apr','May', 'Jun', 'Jul', 'Ago','Sep', 'Oct', 'Nov','Dic'];
        var fila='<tr><td></td>';
        for (var j = 0; j < 13; j++) { //cols
            fila+='<td>'+months[j]+'</td>';
        }
        fila+='<td>Total</td></tr>';
        $('.table').append(fila);
        fila='';

        //ahora elcontenido
        for (var i = 0; i < obj.length; i++) { //rows
            var id_fields_track=obj[i].id;
            var indice_fila=i+1;
            fila+='<tr></td><td>'+indice_fila+'</td><td>'+obj[i].description+'';
                    for (var j = 0; j < 12; j++) { //cols
                        var letter = String.fromCharCode("A".charCodeAt(0) +j);
                        var coord=letter + indice_fila;
                        if (cifras[coord]==null || cifras[coord].charCodeAt(0)=='=') cifras[coord]='';
                         fila+= '<td><input id="'+id_fields_track +'" value="'+cifras[coord]+'" data-cell="'+coord+ '" data-format="$ 0,0[.]00">\n\
                                 <input type="hidden" value="'+cifras[coord]+'" class="'+coord+'"></td>' ;
                    }
            fila+='<td><input data-cell="M' + i+'"  data-formula="SUM(A'+i+':L'+i+')" data-format="$ 0,0[.]00">\n\
                        <input type="hidden" value="" class="M'+i+'"></td></tr>';
             $('.table').append(fila);
             fila='';

        }
        
       /*var k=0;
       var total_label=Array();
       total_label[0]= 'Total Income';
       total_label[1]= 'Total Outcome';
       total_label[2]= 'Total ';
       
        for (var i = obj.length+2; i<obj.length+5; i++) { //rows
            var row = document.querySelector("table").insertRow(-1);
            row.insertCell(-1).outerHTML = '<strong>'+total_label[k]+'&nbsp;&nbsp;&nbsp;&nbsp; </strong>';
            k++;
            for (var j = 0; j <= 13; j++) { //cols
                var letter = String.fromCharCode("A".charCodeAt(0) + j - 1);
                row.insertCell(-1).innerHTML = i && j? "<strong><input id='" + letter + i + "'/></strong>" : i || letter;
            }
            
            
        }*/
        //agregando SubTotal outcome
        //agregando SubTotal income
        //agregando Total income-outcome
        /**cuando cambia una celda guardo en BD***/
       

        //poner_moneda();
        
 $( document ).ready(function() {
     localStorage.clear();
      $("td input").css("text-align","right");
      $("td input").css("border","none");
               
      $('form#calx_form').calx({
                onBeforeCalculate : function(){
                   
                },
                onAfterRender : function(){
                     //$('form#calx_form').calx('refresh');
                },
                
            });
       
        ////****AL INICIO RECALCULAR LAS FORMULAS
        $('td input[type=hidden]').each(function(el){ 
                var casilla=$(this).val();
                var coord=$(this).attr('class');
                if(casilla.charAt(0)=='=' ){//es formula
                    var formula=casilla.substr(1,casilla.length);
                    
                    $('input.'+coord).val('='+formula);
                        if($('form#calx_form').calx('getSheet')){//obtengo la hoja
                            $('form#calx_form').calx('getCell', coord)
                                    .setFormula(formula)
                                    .calculate()
                                    .renderComputedValue();
                    }//fin si get hoja    
                } 
            }); 
                          
                    
                    
        ////***al salir de una celda
        $('td input').blur(function(){
            var coord=$(this).attr('data-cell');
            var fila=coord.substr(1,1);
            var casilla=$(this).val();
            var id_field=$(this).attr('id');
            var hidden_val=hidden_val=$('input.'+coord).val();
            var toolbox_input= $("input#cell").val();
            var sigma='SUM(A'+fila+':L'+fila+')';
            var celda_sigma='M'+fila;
            
           
            if(casilla.charAt(0)=='='|| isNaN(hidden_val.charAt(0)) ){//es formula
                var formula=toolbox_input.substr(1,toolbox_input.length);
                $('input.'+coord).val('='+formula);
                 if($('form#calx_form').calx('getSheet')){//obtengo la hoja
                        $('form#calx_form').calx('getCell', coord)
                                    .setFormula(formula)
                                    .calculate()
                                    .renderComputedValue();
                    }//fin si get hoja    

                }else{//si no fue formula
                    
                $('input.'+coord).val(casilla);
                }//fin sin no fue formula 

             //Recalcular los totales fila y col
            //filas
            if($('form#calx_form').calx('getSheet')){// obtengo la hoja 
            $('form#calx_form').calx('getCell', celda_sigma)
                            .setFormula(sigma)
                            .calculate()
                            .renderComputedValue();
           }//fin si get hoja    
           var contenido_celda=casilla;
           if(formula!=null) contenido_celda='='+formula;
           
        
            //grabo en base de datos el valor de la celda / formula
            if(contenido_celda.length>0 && id_field!=null){
             $.post( "{{ path('ajax_trackaltinv_create') }}",{
                                                    mes:coord.charCodeAt(0)-64, 
                                                    valor:contenido_celda, 
                                                    id_altinv: {{app.request.attributes.get('id')}}, 
                                                    id_fieldsaltinv:id_field 
                     });
                    
          }//fin si
           
           
           //***********************fin grabar en bd
        
    });//fin focusout input de la tabla
    /*************toolbox*******************/
                $('td input').bind("change paste keyup", function(k) {
                       var tecla = k.keyCode || k.which;
                        if( (tecla>45 && tecla<91) ||(tecla>95 && tecla<112)||(tecla>185 && tecla<192) ) {//si no es tab ni shift ni enter ni nada debajo de supr o del
                           var coord=$(this).attr('data-cell');
                           var hidden_val=$('input.'+coord).val();
                           var valor=$(this).val()
                           $("label#coord").empty().html(coord);
                           $("input#cell").val(valor);
                   }//fin si NO es TAB
                       
                });
    //***************************************
    
    /*******focus in cell inside table////////*/
       $('td input').bind("focusin", function() {
                        var coord=$(this).attr('data-cell');
                        var hidden_val=$('input.'+coord).val();
                        var valor=$(this).val()
                       $("label#coord").empty().html(coord);
                        if(isNaN(hidden_val.charAt(0))){//es formula
                            valor=hidden_val;//escribo la formula
                        }
                        $("input#cell").val(valor);
        
       });
    //*******************************************
    /*******focus in toolbox ////////*/
       $('input#cell').bind("focusin", function() {
                        var coord=$("label#coord").html();
                        var hidden_val=$('input.'+coord).val();
                        var valor=$(this).val()
                      
                        if(isNaN(hidden_val.charAt(0))){//es formula
                            valor=hidden_val;//escribo la formula
                        }
                        $('input[data_cell='+coord+']').val(valor);
        
       });
    //*******************************************
    
    /*******focusout in toolbox ////////*/
        
       $('input#cell').bind("focusout", function() {
                        var coord=$("label#coord").html();
                        var fila=coord.substr(1,1);
                        var valor=$(this).val()
                        var formula=valor.substr(1,valor.length);
                        var sigma='SUM(A'+fila+':L'+fila+')';
                        var celda_sigma='M'+fila;
                        if(valor.charAt(0)=='='){//es formula
                            try {
                                if($('form#calx_form').calx('getSheet')){//obtengo la hoja
                                     $('form#calx_form').calx('getCell', coord)
                                        .setFormula(formula)
                                        .calculate()
                                        .renderComputedValue();
                                     $('input.'+coord).val(formula);   
                                }//fin si get hoja    
                            }catch(err){
                                console.log(err.message)
                            }
                        }
                     //Recalcular los totales fila y col
            //filas
            if($('form#calx_form').calx('getSheet')){// obtengo la hoja 
            $('form#calx_form').calx('getCell', celda_sigma)
                            .setFormula(sigma)
                            .calculate()
                            .renderComputedValue();
           }//fin si get hoja    
                
                    
                            
       });
    //*******************************************
    /**controlo tecla presionada***/
    $('td input').bind("keydown", function(k) {
        var tecla = k.keyCode || k.which;
        if( (tecla==9) ) k.preventDefault();
    });
    
    
    
        $('#btn_addfield').click(function(e) {
                 e.preventDefault();
                var desc=$("#fields_altinv_description").val();
                var credordeb=$("#credordeb option:selected").val();
                var currency_symbol=$("#currency_symbol option:selected").val();
                if(desc.length>0){//si no es vacia la descripcion 
                 $.post( "{{ path('ajax_fieldstrackaltinv_create') }}",{ description: desc, currency_symbol: currency_symbol,  credordeb: credordeb, id_altinv: {{app.request.attributes.get('id')}}})
                         .done(function( resp){
                              $('form[name="{{ form.vars.name }}"]').trigger("reset");
                            location.reload();
                          });
                   }else{
                         alert('Description cannot be empty') 
                  }//fin si la desc esta em blanco      
                });
                
        
        $('#clear').click(function() {
                 $('form[name="{{ form.vars.name }}"]').trigger("reset");
                 $('span').removeClass("checked");
             });
             
             
             $("select#fields_altinv_widget").val('Currency');
             $("select#fields_altinv_widget").hide();
             $("label[for=fields_altinv_widget] ").hide();
             $(".numeric").numeric({ decimal : ".",  negative : false, scale: 4 });
               $(".currency").maskMoney();
               
               //$("td").css("text-align","right");
               $("textarea").css("border","none");
               $("td input").css("text-align","right");
               $("td input").css("border","none");
               
               /*cuando cambie un input guardo en Base de datos track col = date month*/
              $("td input").focusout(function() {
                var mes=$(this).prop('id').charCodeAt(0)-64; //obtengo el mes Enero=1
                var field=$(this).attr('param');
                //quitar_moneda();
                //poner_moneda();
                 
                });
            
});
    </script>
{% endblock %}

