{% extends 'base.html.twig' %}

{% block body %}
    <h1>PipelineNode list</h1>

    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Datenode</th>
                <th>Status</th>
                <th>Percentagecompletion</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pipelineNode in pipelineNodes %}
            <tr>
                <td><a href="{{ path('pipelinenode_show', { 'id': pipelineNode.id }) }}">{{ pipelineNode.description }}</a></td>
                <td>{% if pipelineNode.dateNode %}{{ pipelineNode.dateNode|date('Y-m-d') }}{% endif %}</td>
                <td>{{ pipelineNode.status }}</td>
                <td>{{ pipelineNode.percentageCompletion }}</td>
                <td>{{ pipelineNode.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pipelinenode_show', { 'id': pipelineNode.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pipelinenode_edit', { 'id': pipelineNode.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pipelinenode_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
