{% extends 'base.html.twig' %}

{% block body %}
    <h1>PipelineNode</h1>

    <table>
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ pipelineNode.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ pipelineNode.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pipelinenode_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pipelinenode_edit', { 'id': pipelineNode.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
