{% block body %} 
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-settings font-green"></i>
                                        <span class="caption-subject bold uppercase">Show</span>
                                    </div>                                   
                                </div>   
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_2">
                                    {% if object is not null %}
                                        <tr>
                                            <th>Id</th>
                                            <td>{{ object.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Commodities Trading</th>
                                            <td>{{ object.idComtrad }}</td>
                                        </tr>                                        
                                        <tr>
                                            <th>Field</th>
                                            <td>{{ object.idFieldsTrackComtrad }}</td>
                                        </tr>                                        
                                        <tr>
                                            <th>Value</th>
                                            <td>{{ object.value }}</td>
                                        </tr>
                                        <tr>
                                            <th>Datetime</th>
                                            <td>{% if object.datetime %}{{ object.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        </tr>
                                    {% else %}
                                        <center>Deleted Element</center>
                                    {% endif %}   
                                    </table>
                                        
                                </div>
                                </div> 
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                        <div class="col-md-6" id="show">
                           
                        </div>     
                    </div>
            <!-- END CONTENT BODY -->
        </div>                                       
        <!-- END CONTAINER -->          
{% endblock %}

