<!-- BEGIN : HIGHCHARTS 
BAR vert AND LINE id="chart_1"
BAR vert AND GLOBE id="chart_1"
LINE AND AREA id="chart_3"
BAR hor AND LINE id="chart_4"
PIE id="chart_6"
STOCK id="chart_12"-->
                    
                       
                        <div class="row">
                        <div class="col-md-3">
                            <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-bar-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Income</span>
                                                <span class="caption-helper">income</span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                                
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_99" class="chart" style="height: 400px;"> </div>
                                        </div>
                                    </div>
                        </div>    
                    
                        <div class="col-md-3">
                            <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-bar-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Profit</span>
                                                <span class="caption-helper">Profit</span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                                
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_3" class="chart" style="height: 400px;"> </div>
                                        </div>
                                    </div>
                                </div>
                           
                         <div class="col-md-3">
                            <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-bar-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Profit</span>
                                                <span class="caption-helper">Profit</span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                                
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_4" class="chart" style="height: 400px;"> </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-md-3">
                             <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-bar-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Profit</span>
                                                <span class="caption-helper">Profit</span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                                
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_6" class="chart" style="height: 400px;"> </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <!--div class="col-md-12">
                            <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Bar Chart</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-cloud-upload"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-wrench"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="highchart_4" style="height:500px;"></div>
                                </div>
                            </div>
                        </div-->
                    <!-- END : HIGHCHARTS -->


        <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/amcharts.js') }}" ></script>
        <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/serial.js') }}" ></script>
        <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/pie.js') }}" ></script>
        <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/radar.js') }}" ></script>                    
<script>
//var ChartsAmcharts99 = function() {      
    function initChartSample99(data) {
        var chart = AmCharts.makeChart("chart_99", {
            "type": "serial",
            "theme": "light",
            "pathToImages":  "amcharts/amcharts/images/",
            "autoMargins": false,
            "marginLeft": 30,
            "marginRight": 8,
            "marginTop": 10,
            "marginBottom": 26,

            "fontFamily": 'Open Sans',            
            "color":    '#888',
            
            "dataProvider": data,
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "alphaField": "alpha",
                "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "dashLengthField": "dashLengthColumn",
                "fillAlphas": 1,
                "title": "Income",
                "type": "column",
                "valueField": "serie1"
            }, {
                "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "bullet": "round",
                "dashLengthField": "dashLengthLine",
                "lineThickness": 3,
                "bulletSize": 7,
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "useLineColorForBulletBorder": true,
                "bulletBorderThickness": 3,
                "fillAlphas": 0,
                "lineAlpha": 1,
                "title": "Expenses",
                "valueField": "expenses"
            }],
            "categoryField": "date",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "tickLength": 0
            }
        });
 
        //jQuery('#chart_99').closest('.portlet').find('.fullscreen').click(function() {
          //  chart.invalidateSize();
       // });  
    
    }   
//     return {
        //main function to initiate the module

/*        init: function() {
            initChartSample99();
        }   
  */        
        
   // };
    
 //}();   
   // ChartsAmcharts99.init();
  
  
  $(document).ready(function(){
        $.ajax({
                url: "{{path('grafico')}}",
                data: "model=" + 'TrackAltinv' +
                      "&track_field=" + 4,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (chartData) {
                    //debugger;
                    //initialize graph in successs
                    
                    
                    
                    data=JSON.stringify(chartData).replace(/&quot;/g, '"')
                    console.log(JSON.stringify(chartData));
                    initChartSample99(chartData)
                },
                error: function (xhr,status,error) {
                    alert(status);
                }
            });
  });
  
   </script>    
