{% extends 'base.html.twig' %}

{% block body %}
    <h1>TypeRental list</h1>

    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeRental in typeRentals %}
            <tr>
                <td><a href="{{ path('typerental_show', { 'id': typeRental.id }) }}">{{ typeRental.description }}</a></td>
                <td>{{ typeRental.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typerental_show', { 'id': typeRental.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typerental_edit', { 'id': typeRental.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typerental_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
