{%extends '::base.html.twig'%}


 {% block stylesheets_extra %} 
 <link href="{{ asset('ducksboard-gridster/jquery.gridster.css') }}" rel="stylesheet" id="style_components" type="text/css" />
       
 {% endblock %}


{% block header %}
    

                    <h3 class="page-title"> Admin Headings
                        <small>Drag n Drop</small>
                    </h3>
{% endblock %}
 
 
                    
         
 {% block body %}              
                        <div class="gridster">
                            <div class="container"> 
                                <div class="row">
                                    <div class="col-md-3">
                                      {{ form_start(form) }}
                                                {{ form_widget(form) }}
                 
                                      {{ form_end(form) }}
                                    </div>
                                    <div class="col-md-2"><label>Financial row</label>
                                        <select id="typeofstats" class="form-control">
                                            <option value="1" selected>Income</option>
                                            <option value="2">Outcome</option>
                                            <option value="3">Accounts</option>
                                            <option value="4">Clients</option>
                                        </select> 
                                    </div>
                                    <div class="col-md-2"><label>Background image</label>
                                    <br>
                                    <center><button class="btn btn-default" role="iconpicker" ></button></center>
                                    </div>
                                    <div class="col-md-1"><label>Color</label>
                                                 <div class="modal-body" style="padding-top: 0px">
                                                     <select name="colorpicker-modal-picker">
                                                       <option color="green" value="#32c5d2">green</option>
                                                       <option color="blue" value="#3598dc">blue</option>
                                                       <option color="yellow" value="#c49f47">yellow</option>
                                                       <option color="red" value="#e7505a">red</option>
                                                       <option color="purple" value="#8E44AD">purple</option>
                                                     </select>
                                                   </div>
                                    </div>
                                    
                                    <div class="col-md-1"><br><span class="glyphicon glyphicon-plus-sign" style="font-size: 3em; vertical-align: bottom;  cursor: pointer;"></span></div>
                                </div>    
                        
                                    <br>
                            <ul style="list-style-type: none;">
                            
                                
                          
                    
                        
                 
                        
                    
                   </ul>     
                   </div>
                   </div>  
{% endblock %}


{% block javascripts_extra %} 
            <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/amcharts.js') }}" ></script>                
        <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/amcharts.js') }}" ></script>
        <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/serial.js') }}" ></script>
        <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/pie.js') }}" ></script>
        <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/radar.js') }}" ></script>   
        <script src="{{ asset('ducksboard-gridster/utils.js') }}" ></script>    
        <script src="{{ asset('ducksboard-gridster/jquery.collision.js') }}" ></script>    
        <script src="{{ asset('ducksboard-gridster/jquery.coords.js') }}" ></script>    
        <script src="{{ asset('ducksboard-gridster/jquery.draggable.js') }}" ></script>    
          <script src="{{ asset('ducksboard-gridster/jquery.gridster.js') }}" ></script>
          <script src="{{ asset('ducksboard-gridster/jquery.gridster.extras.js') }}" ></script>    
<script>
 

   
    
    
  $(document).ready(function(){
      
      
      
    $('select[name="colorpicker-modal-picker"]').simplecolorpicker({picker: true});
  
        gridster = $(".gridster ul").gridster({
          widget_base_dimensions: [120, 40],
          widget_margins: [5, 5],
          animate: true,
           draggable: 
            {
                enabled: true,
                stop: function(e, ui, $widget) 
                {
             
                   var datos=ui.$player[0].id
                   var newrow = ui.$player[0].dataset.row;
                   var newcol = ui.$player[0].dataset.col;
                   $.post(function()){
                       $.post( "{{ path('dashboard/ajax_headings_save') }}",{ datos: datos, row: newrow, col: newcol})
                   });
                    
                }
            }
         
        }).data('gridster');
        
        
        
        
                $('.glyphicon-plus-sign').click(function(){
                    menu_description
                var id_account=parseInt($('input#menu_description').val());
                var id_track=parseInt($('select#typeofstats option:selected').val());
                var opcion=$('select#typeofstats option:selected').text();
                var colordefondo=$('span.simplecolorpicker').attr('title');
                var icono=$('i.glyphicon').attr('class');
                var cantidad=parseInt($('li[name=bloque]').size());
                var columna=cantidad%4;
                var fila=(Math.floor((cantidad+1)/4)+1)*2-1;
               
                
                
                
                var contenido= "<li name='bloque' track='"+id_track+"' id='"+id_account+"~"+colordefondo+"~"+id_track+"~"+icono+ "' data-row='1' data-col='1' data-sizex='2' data-sizey='2'>\n\
                            <a class='dashboard-stat dashboard-stat-v2 "+colordefondo+" ' href='#'>\n\
                                <div class='visual'>\n\
                                    <i class='"+icono+"'></i>\n\
                                </div>\n\
                                <div class='details'>\n\
                                    <div class='number'>\n\
                                        <span data-counter='counterup' data-value='1349'>1349</span>\n\
                                    </div>\n\
                                    <div class='desc'>"+opcion+"  </div>\n\
                                </div>\n\
                            </a>\n\
                        </li> "

                gridster.add_widget('<li class="stats">'+contenido+'</li>', 2, 2)
                  

                
        }); 
        
        
       
  
});//fin document ready
  
    
  
   </script>    
{% endblock %}