{%extends '::base.html.twig'%}


 {% block stylesheets_extra %} 
 <link href="{{ asset('ducksboard-gridster/jquery.gridster.css') }}" rel="stylesheet" id="style_components" type="text/css" />
       
 {% endblock %}


{% block header %}
    

                    <h3 class="page-title"> Admin Charts
                        <small>Drag n Drop</small>
                    </h3>
{% endblock %}
 
 
                    
         
 {% block body %}              
                        <div class="gridster">
                            <div class="container"> 
                                <div class="row">
                                    <div class="col-md-6">
                                      {{ form_start(form) }}
                                                {{ form_widget(form) }}
                 
                                      {{ form_end(form) }}
                                    </div>
                                    <div class="col-md-2"><label>Type</label>
                                        <select id="typeofchart" class="form-control">
                                            <option class="" value="1" selected>Column & Bar</option>
                                            <option class="" value="2">Line & Area</option>
                                            <option class="" value="3">Pie</option>
                                            <option class="" value="4">XY &  Other</option>
                                        </select> 
                                    </div>
                                     <div class="col-md-2"><label>Model</label>
                                        <select id="modelofchart" class="form-control">
                                            <option class="1" value="1" selected>Simple Column</option>
                                            <option class="1" value="2" >3D Column</option>
                                            <option class="1" value="4" >Stacked</option>
                                            <option class="1" value="5" >Column & Line</option>
                                            <option class="1" value="6" >Cylinder</option>
                                            <option class="1" value="7" >Layered Column</option>
                                            <option class="1" value="8" >3D stacked</option>
                                            <option class="1" value="9" >100% Stacked Column</option>
                                            <option class="1" value="10" >Clustered Bar</option>
                                            <option class="1" value="11" >Stacked & Clustered</option>
                                            <option class="1" value="12" >Bar & Line</option>
                                            <option class="1" value="13" >Stacked Bar</option>
                                            <option class="1" value="14" >3D Bar</option>
                                            
                                            <option value="2">Line</option>
                                            <option value="3">Bar-Line</option>
                                            <option value="4">Pie</option>
                                        </select> 
                                    </div>
                                    
                                    <div class="col-md-1"><br><span class="glyphicon glyphicon-plus-sign" style="font-size: 3em; vertical-align: bottom;  cursor: pointer;"></span></div>
                                </div>    
                            </div>    
                                    <br>
                            <ul style="list-style-type: none;">
                            <li id="1" data-row="1" data-col="1" data-sizex="2" data-sizey="2">
                            <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-bar-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze">Bar</span>
                                                <span class="caption-helper">Vertical Bar</span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                                
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_99" class="chart" style="height: 100px;"> </div>
                                        </div>
                                    </div>
                        </li>    
                    
                        
                 
                        <li id="2" data-row="1" data-col="1" data-sizex="2" data-sizey="2">
                            <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-bar-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Line</span>
                                                <span class="caption-helper">Hor Line </span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                                
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_3" class="chart" style="height: 100px;"> </div>
                                        </div>
                                    </div>
                        </li>
                           
                         <li id="3" data-row="1" data-col="1" data-sizex="2" data-sizey="2">
                            <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-bar-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze">Bar-Line</span>
                                                <span class="caption-helper"></span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                                
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_4" class="chart" style="height: 100px;"> </div>
                                        </div>
                                    </div>
                        </li>
                        <li id="4" data-row="1" data-col="1" data-sizex="2" data-sizey="2">
                             <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-bar-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Pie</span>
                                                <span class="caption-helper">Circle Pie</span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                                
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_6" class="chart" style="height: 100px;"> </div>
                                        </div>
                                    </div>
                        </li>
                    
                   </ul>     
                   </div>
                    
{% endblock %}


{% block javascripts_extra %} 
            <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/amcharts.js') }}" ></script>                
        <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/amcharts.js') }}" ></script>
        <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/serial.js') }}" ></script>
        <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/pie.js') }}" ></script>
        <script src="{{ asset('metronic/global/plugins/amcharts/amcharts/radar.js') }}" ></script>   
        <script src="{{ asset('ducksboard-gridster/utils.js') }}" ></script>    
        <script src="{{ asset('ducksboard-gridster/jquery.collision.js') }}" ></script>    
        <script src="{{ asset('ducksboard-gridster/jquery.coords.js') }}" ></script>    
        <script src="{{ asset('ducksboard-gridster/jquery.draggable.js') }}" ></script>    
          <script src="{{ asset('ducksboard-gridster/jquery.gridster.js') }}" ></script>
          <script src="{{ asset('ducksboard-gridster/jquery.gridster.extras.js') }}" ></script>    
<script>

   function initChartBarAndLine(data, tipo,objetivo) {
        var chart = AmCharts.makeChart(objetivo, {
            "type": tipo,
            "theme": "light",
            "pathToImages":  "amcharts/amcharts/images/",
            "autoMargins": false,
            "marginLeft": 30,
            "marginRight": 8,
            "marginTop": 10,
            "marginBottom": 26,

            "fontFamily": 'Open Sans',            
            "color":    '#888',
            
            "dataProvider": data,
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "alphaField": "alpha",
                "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "dashLengthField": "dashLengthColumn",
                "fillAlphas": 1,
                "title": "Income",
                "type": "column",
                "valueField": "serie1"
            }, {
                "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "bullet": "round",
                "dashLengthField": "dashLengthLine",
                "lineThickness": 3,
                "bulletSize": 7,
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "useLineColorForBulletBorder": true,
                "bulletBorderThickness": 3,
                "fillAlphas": 0,
                "lineAlpha": 1,
                "titleField"  : "date",
                "valueField": "serie1"
            }],
            "categoryField": "date",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "tickLength": 0
            }
        });
 }
 
 
 function initChartLine(data, tipo,objetivo) {
        var chart = AmCharts.makeChart(objetivo, {
            "type": tipo,
            "theme": "light",
            "pathToImages":  "amcharts/amcharts/images/",
            "autoMargins": false,
            "marginLeft": 30,
            "marginRight": 8,
            "marginTop": 10,
            "marginBottom": 26,

            "fontFamily": 'Open Sans',            
            "color":    '#888',
            
            "dataProvider": data,
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "bullet": "round",
                "dashLengthField": "dashLengthLine",
                "lineThickness": 3,
                "bulletSize": 7,
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "useLineColorForBulletBorder": true,
                "bulletBorderThickness": 3,
                "fillAlphas": 0,
                "lineAlpha": 1,
                "titleField"  : "date",
                "valueField": "serie1"
            }],
            "categoryField": "date",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "tickLength": 0
            }
        });
        //jQuery('#chart_99').closest('.portlet').find('.fullscreen').click(function() {
          //  chart.invalidateSize();
       // });  
    
    } //fin linea 
  function initChartBar(data, tipo,objetivo) {
        var chart = AmCharts.makeChart(objetivo, {
            "type": tipo,
            "theme": "light",
            "pathToImages":  "amcharts/amcharts/images/",
            "autoMargins": false,
            "marginLeft": 30,
            "marginRight": 8,
            "marginTop": 10,
            "marginBottom": 26,

            "fontFamily": 'Open Sans',            
            "color":    '#888',
            
            "dataProvider": data,
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "alphaField": "alpha",
                "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "dashLengthField": "dashLengthColumn",
                "fillAlphas": 1,
                "title": "Income",
                "type": "column",
                "valueField": "serie1"
            }, {
                "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "bullet": "round",
                "dashLengthField": "dashLengthLine",
                "lineThickness": 3,
                "bulletSize": 7,
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "useLineColorForBulletBorder": true,
                "bulletBorderThickness": 3,
                "fillAlphas": 0,
                "lineAlpha": 1,
                "title": "Expenses",
                "valueField": "expenses"
            }],
            "categoryField": "date",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "tickLength": 0
            }
        });
 }//fin linea y barra  
    
    
    
     function initChartPie(data, tipo,objetivo) {
         var chart = AmCharts.makeChart(objetivo,{
        "type"    : tipo,
        "titleField"  : "date",
        "valueField"  : "serie1",
        "dataProvider"  : data,
        "graphs": [{
                "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "bullet": "round",
                "dashLengthField": "dashLengthLine",
                "lineThickness": 3,
                "bulletSize": 7,
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "useLineColorForBulletBorder": true,
                "bulletBorderThickness": 3,
                "fillAlphas": 0,
                "lineAlpha": 1
                
        }]
         });
       }//fin pie
    
    
  $(document).ready(function(){
    var chartDataSerial= [{"date":"2016-01","serie1":0},{"date":"2016-02","serie1":0},{"date":"2016-03","serie1":0},{"date":"2016-04","serie1":15.11},{"date":"2016-05","serie1":1},{"date":"2016-06","serie1":1.7}];
    var chartDataPie=[{"date": "Venezuela","serie1": 8},{"date": "Panama","serie1": 6},{"date": "USA","serie1": 2}];                
                    //data=JSON.stringify(chartData).replace(/&quot;/g, '"')
                    console.log(JSON.stringify(chartDataSerial));
                    console.log(JSON.stringify(chartDataPie));
                   
        
                    initChartBar(chartDataSerial,"serial", "chart_99")
                    initChartLine(chartDataSerial,"serial", "chart_3")
                    initChartBarAndLine(chartDataSerial,"serial", "chart_4")
                    initChartPie(chartDataPie,"pie", "chart_6")
                      


                    
        gridster = $(".gridster ul").gridster({
          widget_base_dimensions: [100, 120],
          widget_margins: [5, 5],
         
        }).data('gridster');
        
                $('.glyphicon-plus-sign').click(function(){
                var id=parseInt($('select#typeofchart option:selected').val());
                var contenido=$('li#'+id).html();
                console.log(contenido)
                gridster.add_widget('<li class="chart">'+contenido+'</li>', 2, 1)
                  

                
        }); 
        
        
       
  
});//fin document ready
  
    
  
   </script>    
{% endblock %}