{% extends 'base.html.twig' %}

{% block body %}
    <h1>Twitterfollowup list</h1>

    <table>
        <thead>
            <tr>
                <th>Account</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for twitterfollowup in twitterfollowups %}
            <tr>
                <td><a href="{{ path('twitterfollowup_show', { 'id': twitterfollowup.id }) }}">{{ twitterfollowup.account }}</a></td>
                <td>{{ twitterfollowup.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('twitterfollowup_show', { 'id': twitterfollowup.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('twitterfollowup_edit', { 'id': twitterfollowup.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('twitterfollowup_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
