{% extends 'base.html.twig' %}

{% block stylesheets_extra %} 
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{{ asset('/metronic/global/plugins/datatables/datatables.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('/metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{ asset('/metronic/global/css/components.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ asset('/metronic/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        
        <link href="{{ asset('/css/colorbox.css') }}" rel="stylesheet" type="text/css" />        
{% endblock %}

{% block body %}

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->

        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="row">
                          {% include 'stats.html.twig' %}
                          {% include 'graphs.html.twig' %}
                    {% include 'altinv/list.html.twig' %}
                    <!-- BEGIN LOG AND TASK -->                                                            
                        <!-- BEGIN LOGS -->   
                     {% include 'partial_log.html.twig' %}
                        <!-- END LOGS --> 
                        <!-- BEGIN TASKS -->  
                     {% include 'partial_todo.html.twig' %}
                      <!-- END TASKS -->  
                    
                         <!-- BEGIN MAP -->   
                     {% include 'partial_map.html.twig' %}
                        <!-- END LOGS --> 
                        <!-- BEGIN CALENDAR-->  
                     {% include 'partial_calendar.html.twig' %}
                      <!-- END CALENDAR-->  
                         <!-- BEGIN CONTACT LIST -->   
                     {% include 'partial_message.html.twig' %}
                        <!-- END CONTACT LIST --> 
                        <!-- BEGIN CHAT-->  
                     {% include 'partial_chat.html.twig' %}
                      <!-- END CHAT-->  
                    
                    
                    </div>
                    <!-- END LOG AND TASK -->                                         
            <!-- END CONTENT BODY -->
            
        </div>     
        </div>     
        <!-- END CONTAINER -->
     
{% endblock %}

{% block javascripts_extra %} 
       <!--[if lt IE 9]>
<script src="{{ asset('/metronic/global/plugins/respond.min.js') }}"></script>
<script src="{{ asset('/metronic/global/plugins/excanvas.min.js') }}"></script> 
<![endif]-->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{{ asset('/metronic/global/scripts/datatable.js') }}" type="text/javascript"></script>
        <script src="{{ asset('/metronic/global/plugins/datatables/datatables.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('/metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{{ asset('/metronic/pages/scripts/table-datatables-responsive.min.js') }}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{{ asset('/metronic/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js') }}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{{ asset('/metronic/pages/scripts/ui-confirmations.min.js') }}" type="text/javascript"></script>
        
        <script src="{{ asset('/js/jquery.colorbox.js') }}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        


<script>    
    $(document).ready(function() {
      
        
        $('.a_show').click(function() {
            id = $(this).attr('param');
            form_name = $(this).attr('param2');
            temp = form_name.split("\Controller");
            temp = temp[1].replace(/\\/g, '');
            
            $.ajax({
                url: "{{ path('show_ajax') }}",
                data: "form_name=" + temp +
                "&id=" + id,
                success: function(data){
                    $('#show').empty();
                    $('#show').html(data);
                    $('#agregar').html('<button class="btn green-sharp btn-large" data-toggle="confirmation" data-original-title="Are you sure ?" title="">Default configuration</button>');
                    $(".colorbox").colorbox({rel:'colorbox', width:"75%", height:"75%"});
                    
                    $(document).find('[data-toggle="confirmation"]').confirmation();
                }
            });
        });
})
 </script>
<script>
        $(document).ready(function(){
                //Examples of how to assign the Colorbox event to elements
                $(".colorbox").colorbox({rel:'colorbox', width:"75%", height:"75%"});
                //buttton collapse graphs
                 $(".collap").click(function() {
                        if($("#collapseme").hasClass("out")) {
                            $("#collapseme").addClass("in");
                            $("#collapseme").removeClass("out");
                            $(".collap").html("Show Graphs");
                            } else {
                            $("#collapseme").addClass("out");
                            $("#collapseme").removeClass("in");
                            $(".collap").html("Hide Graphs");
                        }
                    });
                
        });
</script>
<script>    
        // LOG BOX
        $( document ).ready(function() {
            
                    // BOX LOG
                    $.ajax({
                        url: "{{ path('log_box') }}",
                        success: function(data){
                            var obj = JSON.stringify(data);
                            var json = $.parseJSON(obj); 
                            var show = json[0]['show'];

                            if (show) {
                                $('#admin_box').css('display','inline');
                                $('#log_box').empty();
                                $('#log_box').html(json[0]['all']);
                            } 
                            
                        }
                    }); 
                    
                    $( ".option_log" ).change(function() {
                        type = $(this).attr('param');
                        $.ajax({
                            url: "{{ path('log_box') }}",
                            data: "type=" + type,
                            success: function(data){
                                var obj = JSON.stringify(data);
                                var json = $.parseJSON(obj); 
                                var show = json[0]['show'];

                                if (show) {
                                    $('#admin_box').css('display','inline');
                                    $('#log_box').empty();
                                    $('#log_box').html(json[0]['all']);
                                } 

                            }
                        });
                    });    
                    // END BOX LOG
                    
                    
                    // BOX TASK
                    $.ajax({
                        url: "{{ path('todo_history') }}",
                        data: "pagina=" + 'altinv',
                        success: function(data){
                            var obj = JSON.stringify(data);
                            var json = $.parseJSON(obj); 
                            var show = json[0]['show'];

                            if (show) {
                                $('#admin_box').css('display','inline');
                                $('#task_box').empty();
                                $('#task_box').html(json[0]['all']);
                            } 
                            checkbox();                            
                        }
                    });                    
                    
                    $( ".option_task" ).change(function() {
                        type = $(this).attr('param');
                        pagina = $(this).attr('param2');
                        $.ajax({
                            url: "{{ path('todo_history') }}",
                            data: "type=" + type +
                                  "&pagina=" + pagina,
                            success: function(data){
                                var obj = JSON.stringify(data);
                                var json = $.parseJSON(obj); 
                                var show = json[0]['show'];

                                if (show) {
                                    $('#admin_box').css('display','inline');
                                    $('#task_box').empty();
                                    $('#task_box').html(json[0]['all']);
                                }
                                
                                checkbox();
                            }
                        });
                    }); 
                                        
                    
                    // END BOX TASK
                    
            function checkbox() {
                $('input.checkbox_task').on('click', function() {
                    type = $(this).attr('param');
                    pagina = $(this).attr('param2');
                    id = $(this).attr('param3');
                    $.ajax({
                        url: "{{ path('todo_history') }}",
                        data: "type=" + type +
                              "&pagina=" + pagina +
                              "&id=" + id,
                        success: function(data){
                            var obj = JSON.stringify(data);
                            var json = $.parseJSON(obj); 
                            var show = json[0]['show'];

                            if (show) {
                                $('#admin_box').css('display','inline');
                                $('#task_box').empty();
                                $('#task_box').html(json[0]['all']);
                            }  

                        }
                    });
                });                
            }    
                    
        });              
</script>  
{% endblock %}
