{% extends 'base.html.twig' %}

{% block body %}
    <h1>LogActivity list</h1>

    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Loggedat</th>
                <th>Objectid</th>
                <th>Objectclass</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for logActivity in logActivities %}
            <tr>
                <td><a href="{{ path('logactivity_show', { 'id': logActivity.id }) }}">{{ logActivity.action }}</a></td>
                <td>{% if logActivity.loggedAt %}{{ logActivity.loggedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ logActivity.objectId }}</td>
                <td>{{ logActivity.objectClass }}</td>
                <td>{{ logActivity.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('logactivity_show', { 'id': logActivity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('logactivity_edit', { 'id': logActivity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('logactivity_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
