{% extends 'base.html.twig' %}

{% block body %}
    <h1>BlComtrad list</h1>

    <table>
        <thead>
            <tr>
                <th>Value</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blComtrad in blComtrads %}
            <tr>
                <td><a href="{{ path('blcomtrad_show', { 'id': blComtrad.id }) }}">{{ blComtrad.value }}</a></td>
                <td>{{ blComtrad.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blcomtrad_show', { 'id': blComtrad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('blcomtrad_edit', { 'id': blComtrad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blcomtrad_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
