<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bluleone Investments{% endblock %}</title>       
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
            <link href="{{ asset('/metronic/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('/css/background.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
    <body>
        {% block body %}
            {% trans_default_domain 'FOSUserBundle' %}

            {% block fos_user_content %}
                {% if error %}
                    <div class="alert alert-danger">
                        <center>
                            <strong>
                                <h4>
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </h4>
                            </strong>
                        </center>
                    </div>
                {% endif %}            
                <br><br>
                <br><br>
                <br>
                <div class="container">
                    <img src="{{ asset('/bundles/siretra/images/logo_avn.png') }}" class="img-responsive center-block" />
                    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                        <div class="panel panel-info" >

                            <div style="padding-top:30px" class="panel-body" >

                                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                                <form id="loginform" class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="_username" value="{{ last_username }}" required="required" placeholder="usuario"> 
                                    </div>

                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="_password" required="required" placeholder="contraseña">
                                    </div>

                                    <div style="margin-top:10px" class="form-group">
                                        <!-- Button -->

                                        <div class="col-md-12">
                                            <input type="submit" id="_submit" class="btn btn-success btn btn-lg btn-block" name="_submit" value="{{ 'Acceder'|trans }}" />
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-12 control">
                                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                                En caso de algún incoveniente por favor comuniquese con el Departamento de Informática
                                            </div>
                                        </div>
                                    </div>    
                                </form>     
                            {% endblock fos_user_content %}


                        </div>                     
                    </div>  
                </div>
                <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide();
                                    $('#loginbox').show()">Sign In</a></div>
                        </div>  
                        <div class="panel-body" >
                            <form id="signupform" class="form-horizontal" role="form">

                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>



                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="email" placeholder="Email Address">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="firstname" class="col-md-3 control-label">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="firstname" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passwd" placeholder="Password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="icode" class="col-md-3 control-label">Invitation Code</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="icode" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                        <span style="margin-left:8px;">or</span>  
                                    </div>
                                </div>

                                <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                                    </div>                                           

                                </div>



                            </form>
                        </div>
                    </div>




                </div> 
            </div>

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('/metronic/global/plugins/jquery.min.js') }}"  type="text/javascript" ></script> 
            <script src="{{ asset('/metronic/global/plugins/bootstrap/js/bootstrap.min.js') }}"  type="text/javascript" ></script>  
        {% endblock %}
    </body>
</html>