{% extends 'base.html.twig' %}

{% block body %}
    <h1>Billing list</h1>

    <table>
        <thead>
            <tr>
                <th>Idclient</th>
                <th>Datetime</th>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for billing in billings %}
            <tr>
                <td><a href="{{ path('billing_show', { 'id': billing.id }) }}">{{ billing.idClient }}</a></td>
                <td>{% if billing.datetime %}{{ billing.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ billing.description }}</td>
                <td>{{ billing.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('billing_show', { 'id': billing.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('billing_edit', { 'id': billing.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('billing_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
