{% extends 'base.html.twig' %}

{% block body %}
    <h1>Billing</h1>

    <table>
        <tbody>
            <tr>
                <th>Idclient</th>
                <td>{{ billing.idClient }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{% if billing.datetime %}{{ billing.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ billing.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ billing.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('billing_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('billing_edit', { 'id': billing.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
