
{% block body %}
<br>
<br>

<div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-settings font-green"></i>
                                        <span class="caption-subject bold uppercase">Client </span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
                                    <tbody>
                                        <tr>
                                            <th>Name</th>
                                            <td>{{ client.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Lastname</th>
                                            <td>{{ client.lastname }}</td>
                                        </tr>
                                        <tr>
                                            <th>Treatment</th>
                                            <td>{{ client.treatment }}</td>
                                        </tr>
                                        <tr>
                                            <th>Address</th>
                                            <td>{{ client.address }}</td>
                                        </tr>
                                        <tr>
                                            <th>Contact</th>
                                            <td>{{ client.contact }}</td>
                                        </tr>
                                        <tr>
                                            <th>Email 1</th>
                                            <td>{{ client.emailOne }}</td>
                                        </tr>
                                        <tr>
                                            <th>Email 2</th>
                                            <td>{{ client.emailTwo }}</td>
                                        </tr>
                                        <tr>
                                            <th>Legal Id</th>
                                            <td>{{ client.legalId }}</td>
                                        </tr>
                                        <tr>
                                            <th>Logo</th>
                                            <td>{{ client.logo }}</td>
                                        </tr>
                                        <tr>
                                            <th>Picture</th>
                                            <td>{{ client.picture }}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>

                    
                    <br>
                    <div class="form-actions">
                    </div>
                        {{ form_start(delete_form) }}
                      
                        <button type="button" onclick=" window.location.href='{{path("client_edit", {'id':client.id} )}}'" id="btn_edit" class="btn blue">Edit</button>
                        <input type="button" class="btn red" value="Delete">
                        {{ form_end(delete_form) }}
                    </div>
                 </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
  
{% endblock %}
