{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ client.lastname }}</td>
            </tr>
            <tr>
                <th>Treatment</th>
                <td>{{ client.treatment }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ client.contact }}</td>
            </tr>
            <tr>
                <th>Emailone</th>
                <td>{{ client.emailOne }}</td>
            </tr>
            <tr>
                <th>Emailtwo</th>
                <td>{{ client.emailTwo }}</td>
            </tr>
            <tr>
                <th>Legalid</th>
                <td>{{ client.legalId }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ client.logo }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ client.picture }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
