{% extends 'base.html.twig' %}

{% block body %}
    <h1>BlClient</h1>

    <table>
        <tbody>
            <tr>
                <th>Value</th>
                <td>{{ blClient.value }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ blClient.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blclient_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('blclient_edit', { 'id': blClient.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
