{% extends 'base.html.twig' %}

{% block body %}
    <h1>TypeAltinv list</h1>

    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeAltinv in typeAltinvs %}
            <tr>
                <td><a href="{{ path('typealtinv_show', { 'id': typeAltinv.id }) }}">{{ typeAltinv.description }}</a></td>
                <td>{{ typeAltinv.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typealtinv_show', { 'id': typeAltinv.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typealtinv_edit', { 'id': typeAltinv.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typealtinv_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
