{% extends 'base.html.twig' %}

{% block body %}
    <h1>TrackRental list</h1>

    <table>
        <thead>
            <tr>
                <th>Value</th>
                <th>Datetime</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trackRental in trackRentals %}
            <tr>
                <td><a href="{{ path('trackrental_show', { 'id': trackRental.id }) }}">{{ trackRental.value }}</a></td>
                <td>{% if trackRental.datetime %}{{ trackRental.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ trackRental.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('trackrental_show', { 'id': trackRental.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('trackrental_edit', { 'id': trackRental.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trackrental_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
