{% extends 'base.html.twig' %}

{% block body %}
    <h1>TrackRental</h1>

    <table>
        <tbody>
            <tr>
                <th>Value</th>
                <td>{{ trackRental.value }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{% if trackRental.datetime %}{{ trackRental.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ trackRental.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trackrental_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('trackrental_edit', { 'id': trackRental.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
