{% extends 'base.html.twig' %}

{% block body %}
    <h1>FieldsConstru list</h1>

    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Widget</th>
                <th>Trackable</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fieldsConstru in fieldsConstrus %}
            <tr>
                <td><a href="{{ path('fieldsconstru_show', { 'id': fieldsConstru.id }) }}">{{ fieldsConstru.description }}</a></td>
                <td>{{ fieldsConstru.widget }}</td>
                <td>{% if fieldsConstru.trackable %}Yes{% else %}No{% endif %}</td>
                <td>{{ fieldsConstru.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fieldsconstru_show', { 'id': fieldsConstru.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fieldsconstru_edit', { 'id': fieldsConstru.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fieldsconstru_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
