{% extends 'base.html.twig' %}

{% block body %}
    <h1>BlAtlinv list</h1>

    <table>
        <thead>
            <tr>
                <th>Value</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blAtlinv in blAtlinvs %}
            <tr>
                <td><a href="{{ path('blatlinv_show', { 'id': blAtlinv.id }) }}">{{ blAtlinv.value }}</a></td>
                <td>{{ blAtlinv.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blatlinv_show', { 'id': blAtlinv.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('blatlinv_edit', { 'id': blAtlinv.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blatlinv_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
