{% extends 'base.html.twig' %}

{% block page_title %}
   Commodities Trading
{% endblock %} 

{% block page_description %}
   Field for Commodities Trading
{% endblock %} 

{% block body %}
                     <div class="row">
                        <div class="col-md-6 ">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-red-sunglo">
                                        <i class="icon-settings font-red-sunglo"></i>
                                        <span class="caption-subject bold uppercase"> New Register</span>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                        {{ form_start(form) }}
                                            {{ form_widget(form) }}
                                            <br>
                                            <button type="button" class="btn default"  id="cancel">Cancel</button>
                                            <button type="submit" class="btn blue">Submit</button>
                                        {{ form_end(form) }}    
                                        <div class="form-actions">                                          
                                        </div>
                                </div>
                            </div>
                            <!-- END SAMPLE FORM PORTLET-->
                        </div>
                        <div class="col-md-6 ">
                            
                        </div>
                    </div>   
 {% endblock %}           

 {% block stylesheets_extra %} 
         <link href="{{ asset('/css/form.css') }}" rel="stylesheet" type="text/css" />
 {% endblock %}
 
 {% block javascripts_extra %} 
 <script>    
    $( document ).ready(function() {
        $('#cancel').click(function() {
          $('form[name="{{ form.vars.name }}"]').trigger("reset");
          $('span').removeClass("checked"); 
        });
    });
 </script>
 {% endblock %}