{% extends 'base.html.twig' %}

{% block body %}
    <h1>FieldsComtrad</h1>

    <table>
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ fieldsComtrad.description }}</td>
            </tr>
            <tr>
                <th>Wiget</th>
                <td>{{ fieldsComtrad.wiget }}</td>
            </tr>
            <tr>
                <th>Trackable</th>
                <td>{% if fieldsComtrad.trackable %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ fieldsComtrad.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fieldscomtrad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fieldscomtrad_edit', { 'id': fieldsComtrad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
