{% extends 'base.html.twig' %}

{% block body %}
    <h1>PipelineWorkflow</h1>

    <table>
        <tbody>
            <tr>
                <th>Idparentnode</th>
                <td>{{ pipelineWorkflow.idParentNode }}</td>
            </tr>
            <tr>
                <th>Idchildnode</th>
                <td>{{ pipelineWorkflow.idChildNode }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pipelineWorkflow.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ pipelineWorkflow.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pipelineworkflow_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pipelineworkflow_edit', { 'id': pipelineWorkflow.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
