{% extends 'base.html.twig' %}

{% block body %}
    <h1>LogMessage</h1>

    <table>
        <tbody>
            <tr>
                <th>Message</th>
                <td>{{ logMessage.message }}</td>
            </tr>
            <tr>
                <th>Dest</th>
                <td>{{ logMessage.dest }}</td>
            </tr>
            <tr>
                <th>Instant</th>
                <td>{% if logMessage.instant %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ logMessage.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('logmessage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('logmessage_edit', { 'id': logMessage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
